PORT=3000
DATABASE_URL="postgresql://postgres:password@localhost:5432/flopay?schema=public"

# PawaPay Sandbox Configuration
PAWAPAY_API_URL="https://api.sandbox.pawapay.cloud/v1"
PAWAPAY_JWT="METTRE_TON_TOKEN_JWT_PAWAPAY_ICI"
